<button aria-controls="primary-menu" aria-expanded="false" class="hamburger nav-trigger">
  Open Menu
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</button>
{% set logo = Image(options.logo) %}
<a class="site-logo-link" href="{{ site.link }}">
  <img class="site-logo" src="{{ logo.src }}" alt="logo"></a>
