$color_background-body: #fff;
$color_background-button: transparent;

$color_text: #232323;
$color_link: #ef8bb9;
$color_link-visited: #232323;
$color_link-hover: #232323;

$color_border: #1D1D1B;
$color_border-hover: #ef8bb9;

